<app-navbar></app-navbar>
<div class="wrapper-event-list">
  <div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="container my-4">
    <div class="mb-3 text-start">
      <button class="btn btn-danger" [routerLink]="'/dashboard'">
        <i class="bi bi-arrow-left"></i> Atras
      </button>
    </div>

    <h2 class="text-center mb-4">Lista de eventos inscritos</h2>



    <!-- Estado de carga -->
    <div *ngIf="eventos.length === 0" class="text-center">
      <p>Cargando eventos... o No hay eventos a los que estes inscrito.</p>
    </div>

    <div class="row">
      <div *ngFor="let event of eventos" class="col-sm-6 col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ event.nombre }}</h5>
            <p class="card-text">{{ event.descripcion }}</p>
            <p class="card-text">
              <small class="text-muted">Costo: {{ event.costo | currency }}</small>
            </p>
            <button class="btn btn-primary" (click)="viewEventDetails(event.id)">
              Ver Detalles
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

