<app-navbar></app-navbar>
<body>
<div class="container mt-5">
  <div class="card p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn btn-primary" [routerLink]="'/ponente-dashboard'"  id="btnVolver">Volver</button>
      <button class="btn btn-outline-primary" [routerLink]="'/ponente-profile/modificarPerfil'"  id="btnModificarPerfil">Modificar Perfil</button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Nombre: </strong> <span>{{ user?.nombre || 'N/A' }}</span></p>
        <p><strong>Apellidos: </strong> <span>{{ user?.apellido || 'N/A' }}</span></p>
        <p><strong>Correo Electrónico: </strong> <span>{{   user?.correoElectronico || 'N/A' }}</span></p>
        <p><strong>País: </strong> <span>{{  user?.paisOrigen ||'N/A' }}</span></p>
      </div>
      <div class="col-md-6">
        <p><strong>Especialidad: </strong> <span>{{  user?.especialidad ||'N/A' }}</span></p>
        <p><strong>Cargo: </strong> <span>{{  user?.cargo ||'N/A' }}</span></p>
      </div>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
