<div class="wrapper-event-list">
  <div class="container my-5">
    <!-- Botón para regresar -->
    <div class="mb-4">
      <button class="btn btn-danger" (click)="goBack()">
        <i class="bi bi-arrow-left"></i> Regresar
      </button>
    </div>

    <!-- Detalles del Evento -->
    <div *ngIf="selectedEvent" class="card">
      <div class="card-header bg-primary text-white">
        <h2 class="card-title">{{ selectedEvent.nombre }}</h2>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Descripción:</strong> {{ selectedEvent.descripcion }}</p>
        <p class="card-text"><strong>Categoría:</strong> {{ selectedEvent.eventoCategoria }}</p>
        <p class="card-text"><strong>Tipo:</strong> {{ selectedEvent.tipoEvento }}</p>
        <p class="card-text"><strong>Costo:</strong> {{ selectedEvent.costo | currency }}</p>
      </div>
      <div class="card-footer text-end">
        <!-- Botón para Cancelar Inscripción -->
        <button
          class="btn btn-danger mt-3"
          *ngIf="userRole === 'Participante'"
          (click)="cancelInscripcion(selectedEvent.id)"
        >
          <i class="bi bi-x-circle"></i> Cancelar Inscripción
        </button>
      </div>
    </div>
  </div>

  <!-- Elementos flotantes decorativos -->
  <div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>