<body class="body-login d-flex flex-column min-vh-100">
<div class="wrapper-login">
  <main>
    <div class="kanit-light d-grid gap-2 d-md-flex justify-content-end pe-4 mt-4">
      <button type="button" [routerLink]="'/ponente-profile'" class="btn btn-danger btn-lg">Volver</button>
    </div>
    <div class="conten-page-login">
      <div class="container d-flex justify-content-center align-items-center h-login">
        <div class="update-profile px-4 py-4">
          <h2 class="text-center mb-4">ACTUALIZAR DATOS</h2>
          <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
            <!-- Nombre -->
            <div class="mb-3">
              <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre" />
              <div *ngIf="updateProfileForm.get('nombre')?.invalid && updateProfileForm.get('nombre')?.touched" class="texttt">
                Nombre es requerido y debe tener al menos 2 caracteres.
              </div>
            </div>
            <!-- Apellido -->
            <div class="mb-3">
              <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido" />
              <div *ngIf="updateProfileForm.get('apellido')?.invalid && updateProfileForm.get('apellido')?.touched" class="texttt">
                Apellido es requerido y debe tener al menos 2 caracteres.
              </div>
            </div>
            <!-- Especialidad -->
            <div class="mb-3">
              <input type="text" formControlName="especialidad" class="form-control" placeholder="Especialidad" />
              <div *ngIf="updateProfileForm.get('especialidad')?.invalid && updateProfileForm.get('especialidad')?.touched" class="texttt">
                Especialidad no debe exceder los 30 caracteres.
              </div>
            </div>
            <!-- Cargo -->
            <div class="mb-3">
              <input type="text" formControlName="cargo" class="form-control" placeholder="Cargo" />
              <div *ngIf="updateProfileForm.get('cargo')?.invalid && updateProfileForm.get('cargo')?.touched" class="texttt">
                Cargo no debe exceder los 30 caracteres.
              </div>
            </div>
            <!-- País de Origen -->
            <div class="mb-3">
              <input type="text" formControlName="paisOrigen" class="form-control" placeholder="País de Origen" />
              <div *ngIf="updateProfileForm.get('paisOrigen')?.invalid && updateProfileForm.get('paisOrigen')?.touched" class="texttt">
                País de origen es requerido y debe tener al menos 3 caracteres.
              </div>
            </div>
            <!-- Botón -->
            <div class="text-center">
              <button type="submit" class="btn btn-outline-warning px-5" [disabled]="updateProfileForm.invalid">
                Realizar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
