<footer>
    <div class="footer-container">
      <!-- Sección de Redes Sociales -->
      <div class="social-media">
        <h3>Síguenos</h3>
        <a href="https://www.facebook.com/leonardo.romero2207?mibextid=ZbWKwL" aria-label="Facebook" class="social-icon">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://github.com/Tech-Community-Peru" aria-label="Twitter" class="social-icon">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.instagram.com/orlando.padilla._/profilecard/?igsh=dmRzeDd5MTZnNXUw" aria-label="Instagram" class="social-icon">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/dsanchezchu/" aria-label="LinkedIn" class="social-icon">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <!-- Información de Contacto -->
      <div class="contact-info">
        <h3>Contáctanos</h3>
        <p>Email: techcommunityperu&#64;gmail.com</p>
        <p>Teléfono: +51 924 627 218</p>
        <p>Dirección: Av. América Sur 3145, Trujillo 13008, Perú</p>
      </div>
      <!-- Enlaces Útiles -->
      <div class="useful-links">
        <h3>Enlaces</h3>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos y Condiciones</a>
      </div>

      <!-- Copyright -->
      <div class="footer-bottom">
        <p>&copy; 2024 Tech Community Peru</p>
      </div>
    </div>
  </footer>
