<app-navbar></app-navbar>
<section class="content-section">
  <div class="background">
    <div class="image-background">
      <img src="escenario2.jpg" alt="Background Image">
    </div>
    <div class="container my-5 mb-0 text-center">
      <section class="height-1">
        <div class="mb-0"> <!-- Cambiado de mb-5 a mb-0 -->
          <h1 class="tittle-2 separation-1">¡Bienvenido a Techcommunity Perú!</h1>
          <p class="sub-2">Ahora eres parte de nuestra comunidad, tienes todo un mundo de tecnología a tu alcance.
            ¿Deseas ver nuestros eventos?</p>
          <p class="sub-2 separation-1">Mira nuestros eventos aquí:</p>
          <button class="btn btn-white btn-lg" [routerLink]="'/events'">Ver Eventos</button>
        </div>
      </section>
    </div>
    <section class="height-1 img-section2">
      <div class="row justify-content-center align-items-center py-4">
        <div class="col-md-1 d-none d-md-block">
        </div>
        <div class="text-center">
          <p class="sub-1 text-light">¿Deseas ver los eventos a los que te has inscrito?</p>
          <p class="sub-1 separation-1 text-light">Ingresa a través de este botón para verlos:</p>
          <button class="btn btn-warning btn-lg" [routerLink]="'/inscriptions'">Ver mis Inscripciones</button>
        </div>
      </div>
    </section>
  </div>
</section>
<app-footer></app-footer>
