<app-navbar></app-navbar>
<section class="content-section">
  <div class="background">
    <div class="container my-5">
      <div class="row justify-content-center align-items-center py-5">
        <div class="col-md-5 text-center">
          <p>Sé parte de la revolución digital e inscríbete a uno de nuestros eventos:</p>
          <button class="btn btn-purple btn-lg" [routerLink]="'/events'" >Ver Eventos</button>
        </div>
        <div class="col-md-1 d-none d-md-block">
          <div class="vr"></div>
        </div>
        <div class="col-md-5 text-center">
          <p>¿Quieres ver los eventos en los que estás inscrito?</p>
          <button class="btn btn-purple btn-lg">Ver mis Inscripciones</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>