<body class="body-login d-flex flex-column min-vh-100">
<div class="wrapper-login">
  <main>
    <div class="kanit-light d-grid gap-2 d-md-flex justify-content-end pe-4 mt-4">
      <button type="button" [routerLink]="'/userprofile'" class="btn btn-danger btn-lg">Volver</button>
    </div>
    <div class="conten-page-login">
      <div class="container d-flex justify-content-center align-items-center h-login">
        <div class="update-profile px-4 py-4">
          <h2 class="text-center mb-4">ACTUALIZAR DATOS</h2>
          <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
            <!-- Nombre y Apellidos -->
            <div class="row mb-3">
              <div class="col-md-6">
                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre" />
                <div *ngIf="updateProfileForm.get('nombre')?.invalid && updateProfileForm.get('nombre')?.touched" class="texttt">
                  Nombre es requerido.
                </div>
              </div>
              <div class="col-md-6">
                <input type="text" formControlName="apellido" class="form-control" placeholder="Apellidos" />
                <div *ngIf="updateProfileForm.get('apellido')?.invalid && updateProfileForm.get('apellido')?.touched" class="texttt">
                  Apellidos son requeridos.
                </div>
              </div>
            </div>
            <!-- Edad -->
            <div class="mb-3">
              <input type="number" formControlName="edad" class="form-control" placeholder="Edad" />
              <div *ngIf="updateProfileForm.get('edad')?.invalid && updateProfileForm.get('edad')?.touched" class="texttt">
                Ingresa una edad válida.
              </div>
            </div>
            <!-- Habilidades -->
            <div class="mb-3">
              <input type="text" formControlName="habilidades" class="form-control" placeholder="Habilidades" />
            </div>
            <!-- LinkedIn -->
            <div class="mb-3">
              <input type="text" formControlName="linkedin" class="form-control" placeholder="LinkedIn" />
              <div *ngIf="updateProfileForm.get('linkedin')?.invalid && updateProfileForm.get('linkedin')?.touched" class="texttt">
                Ingresa un enlace válido.
              </div>
            </div>
            <!-- Información adicional -->
            <div class="mb-3">
              <input type="text" formControlName="informacionAdicional" class="form-control" placeholder="Información Adicional" />
            </div>
            <!-- Ubicación y País de Origen -->
            <div class="row mb-3">
              <div class="col-md-6">
                <input type="text" formControlName="ubicacion" class="form-control" placeholder="Ubicación" />
              </div>
              <div class="col-md-6">
                <input type="text" formControlName="paisOrigen" class="form-control" placeholder="País de Origen" />
              </div>
            </div>
            <!-- Botón -->
            <div class="text-center">
              <button type="submit" class="btn btn-outline-warning px-5" [disabled]="updateProfileForm.invalid">Realizar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
