
<body class="body-login d-flex flex-column min-vh-100">

<div class="wrapper-login">
  <main>
    <div class="kanit-light d-grid gap-2 d-md-flex justify-content-end pe-4 mt-4">
      <a href="/index.html"><button type="button" class="btn btn-danger btn-lg">Volver</button></a>
    </div>
    <div class="conten-page-login">
      <div class="container d-flex justify-content-center h-login">
        <div class="update-profile">
          <div class="container d-flex justify-content-center">
            <div class="Form">
              <div class="input-group mb-3">
                <input type="text" name="Edad"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="Edad">
                <input type="text" name="Nombre"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="Nombre">
              </div>
              <div class="input-group mb-3">
                <input type="text" name="Edad"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="Apellidos">
                <input type="text" name="Nombre"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="LinkedIn">
              </div>
              <div class="input-group mb-3">
                <textarea class="form-control kanit-light nullShadow form-control-static" style="height: 40px" disabled>Habilidades</textarea>
              </div>
              <div class="input-group mb-3">
                <textarea class="form-control kanit-light nullShadow form-control-static" style="height: 40px" disabled>Descripción</textarea>
              </div>
              <div class="input-group mb-3">
                <input type="text" name="Edad"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="Ubicacion">
                <input type="text" name="Nombre"
                       class="form-control kanit-light nullShadow form-control-static" placeholder="PaisOrigen">
              </div>
              <div class="d-flex flex-wrap justify-content-center py-2">
                <button type="button" class="btn btn-outline-warning">Realizar cambios</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="box">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
</body>

